*
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:cadetblue;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:darkgoldenrod;
}
h3{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color:crimson;
}
h4{
    color: blue;
}
h5{
    color: crimson;
    size: 100px;
    padding:center;
}

body{
    background-color: rgb(243, 241, 231);
    background-size: cover;
    border: 79%;
    border-style: hidden;
    border-color: rgb(3, 3, 3);
}

.div-pai{
    background-color: rgb(255, 255, 255);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(3, 3, 3);
    
}
